{% extends "base.html" %}


{% block content %}
<meta charset="UTF-8">
<h1 class="text-center">Пейзажи Марса</h1>

      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="500">
            <img
              src="https://catherineasquithgallery.com/uploads/posts/2021-02/1612885218_61-p-oranzhevo-krasnii-fon-na-marse-91.jpg"
              class="d-block w-100"
            />
          </div>
          <div class="carousel-item" data-bs-interval="500">
            <img
              src="https://catherineasquithgallery.com/uploads/posts/2021-02/1612885100_1-p-oranzhevo-krasnii-fon-na-marse-1.jpg"
              class="d-block w-100"
            />
          </div>
          <div class="carousel-item" data-bs-interval="500">
            <img
              src="https://cdnn21.img.ria.ru/images/07e5/03/06/1600177766_0:150:1280:870_1920x0_80_0_0_cc69a5fbc726f53631e0147554a62498.jpg"
              class="d-block w-100"
            />
          </div>
          <div class="carousel-item" data-bs-interval="500">
            <img
              src="http://i.yapx.cc/GiQ0S.jpg"
              class="d-block w-100"
            />
          </div>
            <div class="carousel-item" data-bs-interval="500">
            <img
              src="https://www.vladtime.ru/uploads/posts/2018-03/1521026464_9bc43b41-b9db-4c26-be9a-da2c1e815930.jpg"
              class="d-block w-100"
            />
          </div>
            <div class="carousel-item" data-bs-interval="500">
            <img
              src="https://u2.9111s.ru/uploads/202302/07/a40176e65380a9902207c62e51a5314d.jpg"
              class="d-block w-100"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
{% endblock %}